@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Rubik');
/* font-family: 'Bungee Inline', cursive;
   font-family: 'Rubik', sans-serif; */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-family: 'Rubik', sans-serif;
}
body{
  display: flex;
  flex-flow: row nowrap;
}
.main-left{
  width: 70%;
  height: 50rem;
  border-right: 2px solid #333333;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}
.main-right{
  width: 30%;
  height: 50rem;
  display: flex;
  flex-flow: column nowrap;
}

.titulo-container{
  height: 10%;
  width: 100%;
  background-color: #FF7F50;
  border-bottom: 2px solid #333333;
  display: flex;
  align-items: center;
  justify-content: center;
}
.titulo-container h1{
  font-family: 'Bungee Inline', cursive;
  font-size: 5rem;
  color: #9b59cf;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #333333;
}

.board-container{
  height: 60%;
  width: 60%;
  display: flex;
  flex-flow: row wrap;
}

.turnos-container{
  height: 10%;
  width: 90%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.cuadro{
  border: 4px solid #333333;
  height: 33.33%;
  width: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
  color: #9b59cf;
}
.cuadro:nth-of-type(1), .cuadro:nth-of-type(2), .cuadro:nth-of-type(3){
  border-top: 0;
}
.cuadro:nth-of-type(1), .cuadro:nth-of-type(4), .cuadro:nth-of-type(7){
  border-left: 0;
}
.cuadro:nth-of-type(3), .cuadro:nth-of-type(6), .cuadro:nth-of-type(9){
  border-right: 0;
}
.cuadro:nth-of-type(7), .cuadro:nth-of-type(8), .cuadro:nth-of-type(9){
  border-bottom: 0;
}
.turno{
  width: 30%;
  height: 100%;
  border: 2px solid #333333;
  border-radius: 5rem;
  background-color: #9cc3e0;
  color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-family: 'Bungee Inline', cursive;
  text-align: center;
}

.turno.active{
  background-color: #9b59cf;

}

.score-container{
  height: 40%;
  border-bottom: 2px solid #333333;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
}

.score-container h4, .chat-container h4{
  font-family: 'Bungee Inline', cursive;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #333333;
  color: #9b59cf;
  font-size: 3rem;
  height: auto;
  text-align: center;
  margin-top: 1rem;
}

.score-content{
  width: 80%;
  height: 30%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.names-container{
  width: 100%;
  height: 45%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.score-bar{
  width: 100%;
  border: 2px solid #333333;
  height: 50%;
  border-radius: 5px;
  display: flex;
  flex-flow: row nowrap;
  background-color: #fff;
}
.half-bar{
  width: 50%;
}
.half-bar:first-of-type{
  border-right: 2px solid #333333;
  display: flex;
  justify-content: flex-end;
}
.p1, .p2{
  height: 100%;
}
.p1{
  width: 0%;
  background-color: #41ff3b;
}
.p2{
  width: 0%;
  background-color: #ff3c3c;
}
.score-numbers{
  width: 100%;
  display: flex;
  margin-top: 0.5rem;
  justify-content: center;
}
.score-numbers span{
  width: 6%;
  display: flex;
  border: 2px solid #333333;
  border-radius: 10px;
  justify-content: center;
}
.number-p1{
  margin-right: 3rem;
  background-color: #41ff3b;

}
.number-p2{
  background-color: #ff3c3c;
}
.chat-container{
  height: 60%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  background-color: #9CC3E0;

}
.msg-container{
  min-height: 336px;
  background: #f5f5f5;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  overflow-y: hidden;
  padding: 0.5rem;
}
.scroll-container{
  height: 336px;
  overflow-y: auto;
}
.msg-cont-rec, .msg-cont-env{
  min-height: 40px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  margin-top: 0.2rem;
}
.msg-cont-rec{
  justify-content: flex-start;
}
.msg-cont-env{
  justify-content: flex-end;
}

.msg-enviado, .msg-recibido{
  width: 52%;
  border: 1px solid #333333;
  border-radius: 5px;
  padding: 0.2rem;
}
.msg-enviado{
  background-color: #fff;
}
.msg-recibido{
  background-color: #aa76d2;
}
.titulo-msg{
  font-weight: bold;
}
.input-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  height: 13%;
}
.input-container textarea{
  width: 80%;
  border: 0;
  height: 70%;
  resize: none;
  font-family: 'Rubik', sans-serif;
  border-radius: 5px;
}
.input-container button{
  width: 10%;
  height: 70%;
  border: 0;
  background: #9b59cf;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  color: #fff;
  cursor: pointer;
}
.input-container button:hover{
  background: #8631c8;
}
#modal{
  display: block;
  position: absolute;
  z-index: 2;
  width: 500px;
  height: 300px;
  top: 10rem;
  left: 20rem;
  background-color: #9cc3e0;
  box-shadow: 10px 10px 5px #888888;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

#modal .titulo-modal{
  width: 70%;
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
}

#modal .new-user-form{
  width: 70%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#modal .new-user-form input{
  width: 100%;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: 5px;
  border: 0;
}
#modal .new-user-form button{
  width: 15%;
  height: 2.5rem;
  background: #9b59cf;
  border: 0;
  border-radius: 5px;
  margin-top: 0.5rem;
  color: #fff;
  cursor: pointer;
}
#modal .new-user-form button:hover{
  background-color: #8631c8;
}
#info-partida{
  position: absolute;
  z-index: 2;
  width: 500px;
  height: 200px;
  top: 15rem;
  left: 20rem;
  background-color: #F5F5F5;
  box-shadow: 10px 10px 5px #888888;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
#info-partida h2{
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  color: #9B59CF;
}
#info-partida button{
  width: 10.5%;
  height: 2.5rem;
  border: 0;
  border-radius: 5px;
  background: #9b59cf;
  color: #fff;
  cursor: pointer;
}
#info-partida button:hover{
  background-color: #8631c8;
}
